body {background-color: aquamarine;
}

.p1 {font-size: 200%;
     text-align: center;
     background-color: blueviolet;
     border-color: red;
     border-width: 6px;
     border-style: double;
     margin-left: 20%;
     margin-right: 15%;
     padding-left: 10%;
     padding-top: 20%;
}

